
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 20px;
      display:flex;
      flex-direction : column;
      background: #f2f2f2;
      align-items:center;
 
       
    }
        button {
      font-size: 16px;
      padding: 10px 18px;
      margin-top: 5px;
      background: #007acc;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
    }

    button:hover {
      background: #005e99;
    }
    button:disabled {
  background: #cccccc;
  color: #666666;

  opacity: 0.7;
  box-shadow: none;
}

    
input[type="text"] {
  font-size: 16px;
  padding: 10px 14px;
  border: 2px solid #007acc;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 122, 204, 0.2);
  background-color: #fff;
  width: 70px;
  max-width: 100%;
}

input[type="text"]:focus {
  border-color: #005e99;
  box-shadow: 0 0 8px rgba(0, 94, 153, 0.4);
}

input[type="text"]::placeholder {
  color: #888;
  opacity: 1;
  font-style: italic;
}

/* Anti-autofill yellow (Chrome) */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}



    #zone-canvas canvas {
      display: block;
      margin: 20px auto;
      border: 4px solid #007acc;
      border-radius: 8px;
      box-shadow: 0 0 12px rgba(0, 122, 204, 0.5);
    }

    #consigne {
      font-size: 18px;
      margin-top: 20px;
      font-weight: bold;
      text-align:center;
}

    #cible {
      font-size: 20px;
      margin-top: 20px;
      font-weight: normal;
    }

    #sous-titre,
    #zone-options {
      flex: 1 1 0;              /* Se partagent l'espace, peuvent se tasser */
      min-width: 0;             /* Autorise le tassement complet */
      box-sizing: border-box;
      padding: 10px;
      border: 1px solid #ccc;
      background: white;
      border-radius: 8px;
    }

    #sous-titre {
      background: #fff9c4;
    }

    #zone-options {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      align-items:center;
    }

    .option-block {
      min-width: 150px;
      max-width: 200px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 8px;
      background: #f0f8ff;
      border: 1px solid #007acc;
      border-radius: 6px;
    }

    .option-block label {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-right:10px;
    }

    .option-block select {
      font-size: 14px;
      padding: 4px 8px;
      border-radius: 4px;
    }